.MainPContent{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.what{
   font-size: 60px;
  line-height: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
 text-decoration: underline, bold;
 
}

.intro-text1{
    font-size: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #18BC9C;
    
}

h2{
    color: #18BC9C;
}

.masthead{
    height: 800px;
}

.ButtonIndex{
     margin-top: 100px;
    margin-bottom: 80px;
    border-radius:50%;
}

.img-responsive {
    width: 400px;
    height: 400px;
    text-align: center;
}